body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#edit-link{
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 20px auto;
  background: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 20px;
}

.profile-header h2 {
  margin: 0;
}

.details {
  margin-bottom: 20px;
}

.details p {
  margin: 5px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions .edit {
  background-color: #0062ff;
  color: #fff;
}

.actions .delete {
  background-color: #ff0019;
  color: #fff;
}